* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-admin {
  padding: 20px;
  width: 100%;
}
table {
  border-radius: 10px;
  border-collapse: collapse;
}
th {
  background-color: lightgoldenrodyellow;
}
th,
td {
  padding: 5px;
}

table,
th,
td {
  border: 1px solid lightgray;
  text-align: center;
  vertical-align: middle;
  word-break: break-all;
}

.table-admin {
  width: 100%;
}

.table-admin th {
  height: 40px;
}

.table-admin.sel tr:not(:first-child):hover {
  cursor: pointer;
  background-color: rgb(211, 211, 211, 0.3);
}

button {
  cursor: pointer;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
}

p.text-title {
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 10px;
}

.btn-admin {
  margin: 0 10px 0 10px;
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: bold;
  background: linear-gradient(0deg, rgb(75, 75, 75) 0%, gray 100%);
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
}

.btn-admin:hover {
  background: linear-gradient(0deg, gray 0%, rgb(184, 184, 184) 100%);
}

.menu-img img {
  width: 100%;
}

.div-radius {
  border-radius: 10px;
}

.dashboard-box {
  width: 620px;
  height: 700px;
  padding: 20px;
  display: inline-block;
  margin: 0 10px 0 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

.dashboard-title {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
}

.div-scroll {
  border: 1px solid gray;
  border-radius: 10px;
  overflow-y: auto;
}

.div-scroll::-webkit-scrollbar {
  width: 12px;
}

.div-scroll::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: gray;

  border-radius: 10px;
}

.div-scroll::-webkit-scrollbar-track {
  background: rgb(124, 124, 124, 0.2);
  border-radius: 10px;
}

.div-scroll::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

/* 스크롤 트랙의 hover 효과 */
.div-scroll::-webkit-scrollbar-track:hover {
  background: rgba(124, 124, 124, 0.4);
  cursor: pointer;
}
