.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.login-form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  text-align: center;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease-in-out;
}

.input:focus {
  outline: none;
  border-color: #007bff;
}

.login-button {
  width: 100%;
  padding: 0.8rem;
  border-radius: 5px;
  border: none;
  background-color: #287a5f;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #02452f;
}

.error {
  color: red;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.label {
  font-weight: bold; /* 라벨 굵기 설정 */
}
