/* 기본 컨테이너 스타일 */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Y축 스크롤 적용 */
  display: flex;
  flex-direction: column; /* 수직으로 요소들을 배치 */
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

.filter-buttons {
  display: flex;
  justify-content: center;
}

.filter-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-buttons button.active {
  background-color: #00704a;
  color: white;
}

.answer-card {
  margin-bottom: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%; /* 컨테이너의 너비에 맞춤 */
}

.answer-card table {
  border: none;
  width: 100%;
}

.answer-card td {
  border: none;
  padding: 8px;
  vertical-align: top; /* 텍스트 상단 정렬 */
}

.answer-card td strong {
  display: inline-block;
  text-align: left;
  width: 80px; /* 고정 너비 설정 */
}

.answer-card tr:not(:first-child) td {
  border-bottom: none; /* 첫 줄을 제외한 나머지 행의 구분선 제거 */
}

.answer-card td:first-child {
  text-align: left;
}

.answer-card td:last-child {
  text-align: right;
}

/* 새로운 내용 컨테이너 스타일 */
.content-container {
  background-color: #f9f9f9;
  padding: 5px;
  width: 100;
  text-align: left;
}

.content-answer {
  color: white;
  background-color: #00704b;
  padding: 8px;
  border-radius: 4px;
  font-size: 15px; /* 글자 크기 설정 */
  width: 100%;
  text-align: left;
}
