.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* 수직 리사이즈 활성화 */
}

.button {
  padding: 12px 24px;
  background-color: #00704a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #005c3b;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.filter-buttons button:hover {
  background-color: #0056b3;
}
.filter-buttons button.active {
  background-color: rgb(
    42,
    69,
    221
  ); /* Darker background color for active button */
}

.answer-card {
  border: 1px solid #ddd;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.answer-card table {
  width: 100%;
  border-collapse: collapse;
}

.answer-card table td {
  padding: 8px;
  vertical-align: top;
}

.answer-card table td p {
  margin: 0;
}

.answer-card h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.answer-card p {
  margin-bottom: 10px;
}

.answer-card span {
  font-weight: bold;
}
